.textBox{
    font-size: 20px;
    color: green;
}

.utility{
    width: 160px;
    background-color: rgba(0, 0, 0, 0.055);
}

.utility__rubyWrap{
    position: relative;

}

.utility__subtitle{
    font-size: 32px;

}

.utility__subtitleRuby{
    position: absolute;
    font-size: 12px;
    left: 38px;
    right: 0px;
    top: -32px;

}

.box_tableview{
    height: 400px;
    max-width: 800px;

}

.tableview{
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #999;
    list-style: none;
    padding-inline-start: 0px;
}
.tableview__item{
    padding: 1em;
    background-color: #DDD;
}
.zanzo{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.zanzo ::after{
    content:"擬似要素から生まれし残像";
    position: relative;
    font-size: 12px;
    top: 20px;
    left: -120px;
}
.tableview__item + .tableview__item{
    border-top: 1px solid #EEE;
}